td, th {
	border: 1px solid;
  font-family: sans-serif;
  padding: 8px;
  color: #222;
  }

table{
  border-collapse: collapse;
  border: 1px solid;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #222;
}

.topline{
  font-size: 16px;
  font-weight: bold;
}
