td, .column{
	border-bottom: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  font-family: sans-serif;
  padding: 16px;
  color: #222;
  text-align: left;
  }

tr:nth-of-type(odd){
  background-color: #f3f3f3;
}

tr:last-of-type{
  border-bottom: 2px solid #256cf6;
}

/* active row need to work */
tr:hover {
  font-weight: bold;
  color: #256cf6;
}

table{
  border-collapse: collapse;
  border: 1px solid;
  width: fit-content;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #222;
}

.header{
  color: #ffffff;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #256cf6;
  padding: 24px;
}

img{
  max-width: 50%;
  max-height: 50%;
}

